salesforce:
  client_id: client_id_here
  client_secret: client_secret_here
  user: sf_user@example.com
  passwordandtoken: passandtokenhere
  test_account_id: 0013000000ymMBh
  host: 'login.salesforce.com' # use test.salesforce.com if it is a sandbox
